# Java / Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
*.log

# Node / React
/frontend/node_modules/
/frontend/build/

# IDEs & OS
/.idea/
/.vscode/
.DS_Store
Thumbs.db

# Env files
.env
/frontend/.env

# Misc
*.iml
*.swp
